@import "normalize.css/normalize";
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=DynaPuff:wght@400..700&family=Exo:ital,wght@0,100..900;1,100..900&family=Itim&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*,
*:after,
*:before{
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  background: var(#{--body-background-default});
  background-size: cover;

}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  @media (max-width: 1024px) {
    padding: 20px;
  }
  @media (max-width: 480px) {
    padding: 20px;
  }
}

